* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #101115;
}

.container {
  margin: 2rem auto;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.todo-list > div {
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .todo-list > div {
    flex-direction: column;
    align-items: flex-start;
  }
}